{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended" // uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "dist"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/member-delimiter-style": ["warn"],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/semi": ["warn"],
    "brace-style": ["warn"],
    "comma-dangle": ["warn", "always-multiline"],
    "comma-spacing": ["error"],
    "curly": ["warn", "all"],
    "dot-notation": "off",
    "eqeqeq": "warn",
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "lines-between-class-members": ["warn", "always", {"exceptAfterSingleLine": true}],
    "max-len": ["warn", 140],
    "no-console": ["warn"], // use the provided Homebridge log method instead
    "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
    "no-non-null-assertion": ["off"],
    "no-trailing-spaces": ["warn"],
    "object-curly-spacing": ["warn", "always"],
    "prefer-arrow-callback": ["warn"],
    "quotes": ["warn", "single"],
    "semi": ["off"]
  }
}
